@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);
@media print {
	article { border-bottom:1px solid #404040; border-top:1px solid #404040; }
}

/* css reset for used elements*/
html, body, main, header, details, nav, section, address, footer, div, span, h1, h2, p, blockquote, pre, img, a, form, time, textarea, input, b, u, i, center, dl, dt, dd, ol, ul, li {
margin:0; padding:0; border:0; font:inherit; font-size:medium; vertical-align:baseline; box-sizing: border-box; 
}

html { background-color:#FFF; font-family:Helvetica,Arial,sans-serif; height:100%; }
body { max-width:200mm; margin:0px auto; padding:30px 16px; min-height:100%; }
body hr { color:#404040; background-color:#404040; border:#404040; height:1px; }
article { line-height:160%; color:#787878; }
article h2,h3,h4,h5,h6 { margin: 1em 0px; color:#404040; font-weight:bold; font-size:large; font-family: "Arvo",Georgia,serif; margin-top:1.5em; margin-bottom:0.5em; }
article hr { color:#404040; background-color:#404040; border:#404040; height:1px; }
article p { margin-bottom:1.5em; }
article a { color:#404040; text-decoration:none; }
article b { font-weight:bold; }
article dfn,cite,em,i { font-style:italic; }
article pre { font-family:monospace; white-space:pre-wrap; border-radius:5px; background-color:#eee; margin-top:1em; margin-bottom:1em; padding:2px; }
article code,kbd,tt,var { font-family:monospace; white-space:pre-wrap; border-radius:5px; background-color:#eee; margin-top:1em; margin-bottom:0; padding:2px; }
article ol { margin-top:1em; margin-bottom:1em; margin-left:2em; } 
article ul { margin-top:1em; margin-bottom:1em; margin-left:2em; list-style:square; }
article img { width:100%; margin:5px 0; border-radius: 5px; }
article blockquote { margin: 2em auto; padding: 0.5em 10px; font-style:italic; text-align:center; color:#787878}
article blockquote:before { font-size: 3em; line-height: 0.1em; content: '„' ' '; color: #787878; font-family: Georgia, serif; }
article blockquote:after { font-size: 3em; line-height: 0.1em; content: ' ' ' “ '; color: #787878; font-family: Georgia, serif; vertical-align: -0.4em;}
article header {  display:flex; align-content:center; margin: 1em auto 2em auto; }
article header #sitename { display:none; }
article header h1 { color:#404040; font-weight:bold; font-size:250%; line-height:64px; font-family: Arvo,Georgia,serif;}
article header div { flex:1; color:#404040; font-size:medium; color: #787878;  font-weight:bold;}
article header address { display:inline;}
article header time {}
article header a { flex:none; text-decoration:none; color: #787878;  }
article header img { flex:none; width: 100px; height: 100px; border-radius: 50%; margin: 0; }
aside { padding:30px 10px; line-height:140%; }
aside a {color:#404040; text-decoration:none; }
aside ul { margin: 0 1em; list-style:none; }
aside ul p { color:#BBB; }
footer { text-align:center; color: #787878;  font-size:small; font-weight:bold; }
footer a { color: #787878; text-decoration:none; }
